### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### SBT ###
project/target/
project/project/
project/plugins/project/
target/

### LOG ###
*.log

### TMP ###
*.class
*.cache

### BINARY ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

## ENV ###
.env

### Scala ###
.bsp/
*.history
.coursier/